body {
  margin : 0 ;
  padding : 0 ;
  box-sizing: border-box;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*::-webkit-scrollbar {
  width: 12px
}

*::-webkit-scrollbar-thumb {
  background: #05A571;
  border-radius: 4px
}

*::-webkit-scrollbar-track {
  background: #0005;
  border-radius: 0
}
*::-webkit-scrollbar-corner {
  background: none;
}
body::-webkit-scrollbar-track {
  background: #222;
  border-radius: 0
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  margin-top: 15px;
color: #fffe;
font-size: 18px;
font-family: sans-serif;
padding: 30px;
border-radius: 10px;
background: #0005;
}
.header a {
  color:#fff ;
}

.main >* {
  margin-bottom: 20px;
}

.btn {
  border: 1px solid #0005 ;
  padding: 10px 15px ;
  border-radius: 5px;
  color: #fff ;
  background : #555 ;
  font-size: 14px;
}
.btn-primary {
  background: #0c7475 ;
}
.btn-danger {
  background: #D32F2F;
}
.btn-green {
  background: #00897B;
}
.action-panel * {
  margin-right: 5px;
}

.alter {
  width: 100%;
}

.textBox {
  min-height: 200px;
  margin-top: 10px;
  background: #0005;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-align: left;
  width: 100%;
}
.textBox::placeholder {
  color: #fff5 ;
}

 /* Customize the label (the container) */
 .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transform: translateY(-50%);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0eae57;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 